# Visual Studio で生成された .clang-format ファイル

BasedOnStyle: LLVM
Language : Cpp
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments : false
AlignConsecutiveDeclarations : false
AlignEscapedNewlinesLeft : false
AlignOperands : false
AlignTrailingComments : false
AllowAllParametersOfDeclarationOnNextLine : true
AllowShortBlocksOnASingleLine : true
AllowShortCaseLabelsOnASingleLine : true
AllowShortFunctionsOnASingleLine : All
AllowShortIfStatementsOnASingleLine : true
AllowShortLoopsOnASingleLine : true
AlwaysBreakAfterReturnType : None
AlwaysBreakBeforeMultilineStrings : false
AlwaysBreakTemplateDeclarations : true
BinPackArguments : true
BinPackParameters : true
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
BreakBeforeBinaryOperators : All
BreakBeforeBraces : Custom
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma : false
BreakStringLiterals: true
ColumnLimit : 100
CommentPragmas:  '/*'
ConstructorInitializerAllOnOneLineOrOnePerLine : true
ConstructorInitializerIndentWidth : 4
ContinuationIndentWidth : 4
Cpp11BracedListStyle : false
DerivePointerAlignment : false
DisableFormat : false
ExperimentalAutoDetectBinPacking : false
FixNamespaceComments: true 
ForEachMacros : ["for_each"]
IncludeCategories :
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^<.*'
    Priority: 2
  - Regex: '.*'
    Priority: 3
IndentCaseLabels : false
IndentWidth : 4
IndentWrappedFunctionNames : true
KeepEmptyLinesAtTheStartOfBlocks : true
MaxEmptyLinesToKeep : 1
NamespaceIndentation : All
PointerAlignment : Left
ReflowComments: true
SortIncludes: true
SortUsingDeclarations: true
SpaceAfterCStyleCast : false
SpaceBeforeAssignmentOperators : true
SpaceBeforeParens : ControlStatements
SpaceInEmptyParentheses : false
SpacesBeforeTrailingComments : 1
SpacesInAngles : false
SpacesInCStyleCastParentheses : false
SpacesInParentheses : false
SpacesInSquareBrackets : false
Standard : Cpp11
TabWidth : 8
UseTab : Never